<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!--bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" 
		p:location="/WEB-INF/jdbc.properties" /> <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" 
		p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}" p:username="${jdbc.username}" 
		p:password="${jdbc.password}" / -->

	<!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) --><bean
		id="welcomeController" class="jsr168portlet.welcome.WelcomeConroller">
	<property name="viewName">
		<value>/WEB-INF/welcome/edit.jsp</value></property>
</bean>

</beans>
